/* css global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: #343434;
}

body {
  background: white;
}

a {
  color: unset;
  text-decoration: none;
}

.section__padding {
  padding: 4rem 6rem 2rem 6rem;
}

.section__margin {
  margin: 3rem 6rem 4rem 6rem;
}

/* css navbar */
.app__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.3rem 2rem;
  border-bottom: 1px #f2f2f2 solid;
  align-items: center;
}

.app__navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  flex: 0.9;
  padding: 1rem;
  cursor: pointer;
}

.app__navbar-left input {
  width: 100%;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  outline: none;
  border: 1px #dedede solid;
  background-color: #f7f7f7;
  font-size: 16px;
  color: #343434;
}

.app__navbar-right {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
}

.app__navbar-right img {
  width: 35px;
  cursor: pointer;
}

.app__navbar-right-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.app__navbar-right-name img {
  width: 20px;
}

/* css header */
.app__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 3rem 2rem;
}

.app__header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
  align-items: flex-start;
}

.app__header-menu {
  height: auto;
}

.app__header-menu {
  border: 1px #dedede solid;
  padding: 2rem 3.5rem 2rem 2rem;
  border-radius: 10px;
}
.app__header-menu-container {
  margin-bottom: 2rem;
}
.app__header-menu-container h3 {
  font-weight: bold;
  font-size: 16px;
  white-space: nowrap;
  cursor: pointer;
}
.app__header-menu-container p {
  margin-top: 0.5rem;
  padding-left: 2.8rem;
  font-size: 12px;
  cursor: pointer;
}

/* css header search */
.app__result-title {
  font-size: 28px;
  margin-bottom: 2rem;
}

.app__header-search:only-child {
  color: #343434;
}
